@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: NeueHaasMedium;
  src: url(../public/fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: NeueHaasRoman;
  src: url(../public/fonts/NeueHaasDisplayRoman.ttf);
}
@font-face {
  font-family: HelveticaNowText_Light;
  src: url(../public/fonts/HelveticaNowText-Light.ttf);
}
@font-face {
  font-family: HelveticaNowText;
  src: url(../public/fonts/HelveticaNowText-Medium.ttf);
}
@font-face {
  font-family: HelveticaNowText_Regular;
  src: url(../public/fonts/HelveticaNowText-Regular.ttf);
}
@font-face {
  font-family: HelveticaNowText_Bold;
  src: url(../public/fonts/HelveticaNowText-Bold.ttf);
}

.HelveticaNowText_Regular{
  font-family: HelveticaNowText_Regular;
  font-weight: normal;
}
.HelveticaNowText_Light{
  font-family: HelveticaNowText_Light;
  font-weight: normal;
}
.HelveticaNowText_Bold{
  font-family: HelveticaNowText_Bold;
  font-weight: bold;
}
.HelveticaNowText{
  font-family: HelveticaNowText;
}
.NeueHaasMedium {
  font-family: NeueHaasMedium;
}

.NeueHaasRoman {
  font-family: NeueHaasRoman;
}

.video-container {
  width: 100%;
  height: 100vh;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.circle {}

.circle::before {
  content: '';
  display: inline-flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff0000;
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
  top: 2px;
  background: red;
  animation: fadeIn 5s infinite;
}

@keyframes fadeIn {

  0% {opacity: 0.2} 
  50% {opacity: 1}
  100% {opacity:0.1} 
}

.navigation .Prevbtn,.Nextbtn{
  top: 65%;
  z-index: 999;
  position: absolute;
}
.Nextbtn {
  right: 25px;
}
.Prevbtn {
  left: 20px;
}



@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}

.max-w-25 {
  max-width: 25%;
}

@media only screen and (max-width: 1024px) {
  .hide{
    display: none;
  }
}